<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/clientaccountform.css}">
    <title>Kleinto registracijos forma</title>
</head>

<body>
<div class="body-background">

    <div class="header-main-container">

        <header id="header-id" class="wrap-header mobile-only">

            <div class="logo-menu-list">
                <div class="logo-name-container">

                    <img id="body-img-logo" src="/images/3786012.jpg" alt="">

                    <h1 id="comany-name">UAB BRIGAMA</h1>

                </div>
                <div class="menu-list">
                    <menu class="menu-container on-hover">
                        <ul class="menu-ul">

                            <li class="menu-ul-item" th:text="#{ul.menu.about}"><a href="/">Apie įmonę</a></li>
                            <li class="menu-ul-item" th:text="#{ul.menu.news}"><a href="/cybersecnews.html">Najienos</a>
                            </li>
                            <li class="menu-ul-item" th:text="#{ul.menu.project}"><a href="#">Projektai</a></li>
                            <li class="menu-ul-item" th:text="#{ul.menu.contacts}"><a href="#contact-id">Kontaktai</a>
                            </li>
                            <li class="menu-ul-item-signin"><a href="/usergeneralform">Bendrą formą</a></li>

                            <li sec:authorize="!isAuthenticated()" class="menu-ul-item-signin">
                                <a th:href="@{/login}" th:text="'Login'">Login</a></li>
                            <li sec:authorize="!isAuthenticated()" class="menu-ul-item-signin">
                                <a th:href="@{signin}" th:text="'SignIn'">SignIn</a></li>
                            <li
                                    sec:authorize="isAuthenticated()" class="menu-ul-item-signin">
                                <a>Jus prisijunge : </a>
                                <span style="color: #f44336" sec:authentication="principal.fullName"> </span>
                            </li>
                            <li sec:authorize="isAuthenticated()" class="menu-ul-item-signin">
                                <a th:href="@{/logout}" th:text="'Logout'">Logout</a></li>
                            <li class="menu-ul-item ul-menulist ">
                                <select class="selectpicker" data-width="fit"
                                        onchange="window.location.href = '?lang=' + this.value;">
                                    <option data-content='<span class="flag-icon flag-icon-lt fi-gr"></span> LT'
                                            value="lt">Lietuvių
                                    </option>
                                    <option data-content='<span class="flag-icon flag-icon-us fi-gr"></span> EN'
                                            value="en">English
                                    </option>
                                </select>
                            </li>
                        </ul>

                    </menu>
                </div>

            </div>

        </header>
    </div>

    <main class="main">

        <div class="container-xl px-4 mt-4">
            <div class="picture-form-container">
                <div class="picture-form">
                    <div class="card-header">Profile Picture
                    </div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2"
                             src="http://bootdey.com/img/Content/avatar/avatar1.png"
                             alt="">
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <!-- Profile picture upload button-->
                        <button class="btn btn-primary" type="button">Upload new image</button>
                    </div>
                </div>
                <div class="Form-container">
                    <!-- Account details card-->
                    <div class="card ">
                        <div class="card-header">Account Details</div>

                        <div class="card-body">
                            <form id="formId" method="post" th:if="${clientDto}" th:action="@{/updateclient}"
                                  th:object="${clientDto}">

                                <!-- Form Group (username)-->
                                <label>Username (how your name will appear to other users on the site)</label>

                                <input class="form-control" id="inputUsername" type="text" th:field="*{userName}"
                                       readonly>
                                <div class="">
                                    <input class="form-control" id="Uuid" type="hidden" placeholder="uuid"
                                           th:field="*{accountUuid}" th:value="${clientDto.accountUuid}">
                                </div>
                                <div class="row ">

                                    <div class="col">
                                        <label class="small mb-1" for="inputFirstName">First name</label>
                                        <input class="form-control" id="inputFirstName" type="text"
                                               placeholder="Enter your first name"
                                               th:field="*{firstName}">
                                    </div>
                                    <div class="col">
                                        <label class="small mb-1" for="inputMiddletName">Middle name</label>
                                        <input class="form-control" id="inputMiddletName" type="text"
                                               placeholder="Enter your first name"
                                               th:field="*{middleName}">
                                    </div>

                                    <div class="col">
                                        <label class="small mb-1" for="inputLastName">Last name</label>
                                        <input class="form-control" id="inputLastName" type="text"
                                               placeholder="Enter your last name"
                                               th:field="*{lastName}">

                                    </div>
                                </div>

                                <div class="row ">

                                    <div class="col">
                                        <label class="small mb-1" for="inputPostAddress">Post Address</label>
                                        <input class="form-control" id="inputPostAddress" type="text"
                                               placeholder="Enter your location"
                                               th:field="*{postAddres}">
                                    </div>
                                </div>

                                <div class="mb-">
                                    <label class="small " for="inputEmailAddress">Email address</label>
                                    <input class="form-control" id="inputEmailAddress" type="email"
                                           placeholder="Enter your email address" th:field="*{emailAddress}">
                                </div>

                                <div class="row ">

                                    <div class="col">
                                        <label class="small mb-1" for="inputPhone">Phone number</label>
                                        <input class="form-control" id="inputPhone" type="tel"
                                               placeholder="Enter your phone number"
                                               th:field="*{phoneNumber}">
                                    </div>
                                    <input type="date"
                                           id="dob" name="dob"
                                           placeholder="Enter your DOB" th:field="*{dateofbirth}">

                                    <div class="col">
                                        <label class="small mb-1" for="inputGender">Gender</label>
                                        <input class="form-control" id="inputGender" type="text" name="birthday"
                                               placeholder="Enter your birthday" th:field="*{gender}" disabled>
                                    </div>

                                    <div th:if="${error}">
                                        <p th:text="${error}"
                                           th:style="'color: #f44336; font-size: 25px; font-weight: bold;'"></p>
                                    </div>
                                </div>
                                <div class="alert alert-success" role="alert" th:if="${success}">
                                    Duomenys sėkmingai atnaujinti!!
                                </div>
                                <button type="submit" class="btn btn-primary">Update Client</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<footer id="contact-id" class="footer-wrap mobile-only">
    <h2 class="kontaktai">Kontaktai</h2>
    <div>
        <ol class="wrap-kontakt-ul">
            <li>UAB Brigama</li>
            <li>Įmonės kodas: 302607361</li>
            <li>PVM kodas: LT100007601018</li>
            <li>El.pašto adresas: info@brigama.lt</li>
        </ol>
    </div>
    <div class="go-home-link">
        <a href="#header-id">Grįžti į meniu</a>
    </div>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var lang = new URLSearchParams(window.location.search).get('lang'); // Gaunama 'lang' reikšmė iš URL
        if (lang) {
            document.querySelector('.selectpicker').value = lang; // Nustatoma pasirinkimo elemento reikšmė
        }
    });
</script>
</body>

</html>