<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Brigama</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div class="body-background">
        <div class="header-main-container">

            <header id="header-id" class="wrap-header mobile-only">

                <div class="logo-menu-list">
                    <div class="logo-name-container">

                        <img id="body-img-logo" src="/images/3786012.jpg" alt="">

                        <h1 id="comany-name">UAB BRIGAMA</h1>

                    </div>
                    <div class="menu-list">
                        <menu class="menu-container on-hover">
                            <ul class="menu-ul">
                                <li class="menu-ul-item"><a href="#">Apie įmonę</a></li>
                                <li class="menu-ul-item"><a href="#">Najienos</a></li>
                                <li class="menu-ul-item"><a href="#">Projektai</a></li>
                                <li class="menu-ul-item"><a href="#contact-id">Kontaktai</a></li>
                                <li class="menu-ul-item-login"><a href="login">Login</a></li>
                                <li class="menu-ul-item-signin"><a href="#signin">SignIn</a></li>

                           
                            </ul> 
                        </menu>
                    </div>

                </div>

            </header>
        </div>
        <div class="main-container">
            <main class="main-wrap">
                <h2 >Įmonės veikla</h2>
                <div>
                    <p>Įmonė siūlo aukščiausios kokybės technologinius sprendimus įvairioms pramonės šakoms. Mūsų <br>
                        komanda deda pastangas, kad sukurtų unikalias ir pritaikytas technologijas, padedančias mūsų
                        klientams inovuoti ir siekti aukštumų. </p>
                </div>
                <div>
                    <p>Internetinis puslpapis yra naujinamas! <br> WebPage is being updated!!</p>
                </div>
            </main>
        </div>
        <footer id="contact-id" class="footer-wrap mobile-only">
            <h2 class="kontaktai">Kontaktai</h2>
            <div>
                <ol class="wrap-kontakt-ul">
                    <li>UAB Brigama</li>
                    <li>Įmonės kodas: 302607361</li>
                    <li>PVM kodas: LT100007601018</li>
                    <li>El.pašto adresas: info@brigama.lt</li>
                </ol>
            </div>
            <div class="go-home-link">
                <a href="#header-id">Grįžti į meniu</a>
            </div>
        </footer>
    </div>
</body>

</html>