<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="lt">
<head th:replace="~{fragments/layout::headindex('Brigama')}"></head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0">

<div class="body-background">
    <header>
        <nav th:replace="~{fragments/layout::navigational-bar}">placeholder</nav>
    </header>
    <div class="main-container">
        <main class="main-wrap">
            <div>
                <h2>Įmonės veikla</h2>
                <p>Įmonė siūlo aukščiausios kokybės technologinius sprendimus įvairioms pramonės šakoms. Mūsų <br>
                    komanda deda pastangas, kad sukurtų unikalias ir pritaikytas technologijas, padedančias mūsų
                    klientams inovuoti ir siekti aukštumų. </p>

            </div>
            <div class="index-main-container">
                <div class="index-container">
                    <div class="index-first-advertisement">
                        <div class="p-container">
                            <a class="a-container" href="/usergeneralform">
                                <= Išbandykite naują galimybę kuri
                                savo slaptažodžius ir juos saugiai saugoti duomenų bazėje!!
                            </a>
                        </div>
                        <div>
                            <a href="/usergeneralform">
                                <img class="index-img" src="/images/reklaminisGeyGenDBNew.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="index-second-advertisement">
                    <div>
                        <a class="a-container" href="https://haveibeenpwned.com/">
                            <= Čia galite pasitikrinti, ar jūsų
                            elektorninis paštas nebuvo nutekintas!!!
                        </a>
                    </div>
                    <div class="index-second-img">
                        <a>
                            <img class="index-img" src="/images/CheckEmail.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/layout :: footer}">placeholder</footer>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var lang = new URLSearchParams(window.location.search).get('lang'); // Gaunama 'lang' reikšmė iš URL
        if (lang) {
            document.querySelector('.selectpicker').value = lang; // Nustatoma pasirinkimo elemento reikšmė
        }
    });
</script>

</body>

</html>
