<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:replace="~{fragments/layout::headindex('Brigama')}"></head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0">

<div class="body-background">
    <header>
        <nav th:replace="~{fragments/layout::navigational-bar}">placeholder</nav>
    </header>
    <div class="main-container">
        <main class="main-wrap">
            <h2>Įmonės veikla</h2>
            <div>
                <p>Įmonė siūlo aukščiausios kokybės technologinius sprendimus įvairioms pramonės šakoms. Mūsų <br>
                    komanda deda pastangas, kad sukurtų unikalias ir pritaikytas technologijas, padedančias mūsų
                    klientams inovuoti ir siekti aukštumų. </p>
            </div>
            <p>
                <a class="link-check-email" href="https://haveibeenpwned.com/">Čia galite pasitikrinti, ar jūsų
                    elektorninis paštas nebuvo nutekintas!!!</a>
            </p>
            <div>
                <p>Internetinis puslpapis yra naujinamas! <br> WebPage is being updated!!</p>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/layout :: footer}">placeholder</footer>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var lang = new URLSearchParams(window.location.search).get('lang') || 'en'; // Jei lang parametras nenurodytas, numatytasis būtų 'en'
        var languageSelector = document.getElementById('languageSelector');
        if(languageSelector) {
            languageSelector.value = lang;
            // Papildomai, jei norite keisti <html> lang atributą:
            document.documentElement.lang = lang;
        }
    });
</script>

</body>

</html>