<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Logind to User account</title>
    <link rel="stylesheet" href="login_stile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
<div class="body-background">
    <form method="post" th:action="@{/login}" th:object="${clientLoginInfo}">
        <div>
            <div class="imgcontainer">
                <img id="body-img-logo" src="/images/3786012.jpg" alt="">
                <h1 id="comany-name">UAB BRIGAMA</h1>
            </div>
            <div class="login" alt="Login">Login</div>
        </div>
        <div class="container">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" th:field="*{username}" >
            <span style="color: #f44336" class="form-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><br>

            <label><b>Password*</b></label>
            <input type="password" placeholder="Enter Password " th:field="*{password}" pattern=
                    "^(?=.*\d)(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9])\S{8,}$"
                   title="Password must contain at least one number,
                       one alphabet, one symbol, and be at
                       least 8 characters long">
            <b class="psw-lable-scndpart">(*min 8 simboliai,bent 1-raidė,1-skaičius,1-spec.symbolis)</b><br>
            <span style="color: #f44336"   class="form-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="cancle-container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn" >Cancel</button>

            <div class="register-forgot-container">
                <span class="psw-forgot"><a href="#">Užmiršote slaptažodį?</a></span>
                <span class="register-new-acc"> Esate naujas klientas? <a href="#">Registruokitės</a></span>

            </div>
        </div>
        <div class="login-announcment">
            <p>Naudokite unikalius slaptažodžius ir veskite juos tik įsitikinę svetainės saugumu. Daugiau informacijos
                rasite <a href="#">čia.</a></p>

        </div>
    </form>

</div>
<script>
    document.querySelector('.cancelbtn').addEventListener('click', function () {
        // Čia įrašykite kodą, kuris atliks veiksmus, kai paspaudžiamas "Cancel" mygtukas
        // Pavyzdys: perkelti į kitą puslapį
        window.location.href = "/";
    });
</script>

</body>
</html>