<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="lt">

<head th:replace="~{fragments/loginlayout::headlogin('Logind to User account')}">
</head>
<body>
<div class="body-background">
    <header>
        <nav th:replace="~{fragments/loginlayout::navigational-bar}">placeholder</nav>
    </header>
    <form method="post" class="login-form-container login-form-text-size" id="loginForm"
          th:action="@{/login}">
        <div>
            <div class="imgcontainer ">
                <img id="body-img-logo" src="/images/3786012.jpg" alt="">
                <h1 id="comany-name" class="text-with-thick-border">UAB BRIGAMA</h1>
            </div>
        </div>
        <div class="container  ">
            <label th:text="#{login.username}"></label>
            <input id="username" type="text" name="username" th:placeholder="#{login.username.enter}" class="login-form-text-size" >
            <span style="color: #f44336" class="form-error"></span><br>
            <label th:text="#{login.password}"></label>
            <input id="password" type="password" name="password" th:placeholder="#{login.password.enter}"
                   class="login-form-text-size">
            <!--                               pattern=-->
            <!--                                "^(?=.*\d)(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9])\S{8,}$"-->
            <!--                               title="Password must contain at least one number,-->
            <!--                                   one alphabet, one symbol, and be at-->
            <!--                                   least 8 characters long">-->
            <b class="psw-lable-scndpart" th:text="#{login.decription}"></b><br>
            <span style="color: #f44336" class="form-error"></span>
            <button type="submit" class="login-button login-form-text-size" th:text="#{login.btn.login}"></button>

            <!--            <div class="remember-me-container" >-->
            <!--                <input type="checkbox" checked="checked" name="remember" id="rememberMe" >-->
            <!--                <label for="rememberMe" th:text="#{login.rememberme}"></label>-->
            <!--            </div>-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1" th:text="#{login.rememberme}">
<!--                    TODO pabaigti Remmeber me-->

                </label>
            </div>


        </div>
        <div class="cancle-container " style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn login-form-text-size" th:text="#{login.cancel}"></button>

            <div class="register-forgot-container">
                <span class="psw-forgot"><a th:href="@{/}" th:text="#{login.forgotpasw}"></a></span>
                <span class="register-new-acc"><a th:href="@{/userregistrationform}"
                                                  th:text="#{login.register}"></a></span>

            </div>
        </div>
        <div class="login-announcment">
            <p><a th:text="#{login.info}" href="https://en.wikipedia.org/wiki/Password_strength"></a></p>

        </div>
    </form>

</div>
<footer th:replace="~{fragments/layout :: footer}">placeholder</footer>

<script>
    document.querySelector('.cancelbtn').addEventListener('click', function () {
        // Čia įrašykite kodą, kuris atliks veiksmus, kai paspaudžiamas "Cancel" mygtukas
        // Pavyzdys: perkelti į kitą puslapį
        window.location.href = "/";
    });
    // window.onload = function () {
    //     document.getElementById('loginForm').reset();
    // };


    document.addEventListener('DOMContentLoaded', function() {
        var lang = new URLSearchParams(window.location.search).get('lang');
        if (lang) {
            document.querySelector('.selectpicker').value = lang;
        }
        var errorMessage = document.getElementById('serverErrorMessage').value;
        if (errorMessage) {
            customAlert(errorMessage);
        }
    });
    function changeLanguage(lang) {
        let currentUrl = window.location.href;
        if (currentUrl.includes("?")) {
            if (currentUrl.includes("lang=")) {
                window.location.href = currentUrl.replace(/(lang=)[^\&]+/, '$1' + lang);
            } else {
                window.location.href = currentUrl + "&lang=" + lang;
            }
        } else {
            window.location.href = currentUrl + "?lang=" + lang;
        }
    }


</script>

</body>
</html>