<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head th:replace="~{fragments/layout::headindex('Naujo kleinto registracijos forma')}"></head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0">
<div class="registration-body-background">
    <header>
        <nav th:replace="~{fragments/layout::navigational-bar}">placeholder</nav>
    </header>

    <div class="main-reg-container">
        <h2 class="main-reg-h2" th:text="#{reg.form.new.client}">Naujo kleinto registracijos forma</h2>
        <div th:if="${message ne null and message.length() > 0}"
             class="alert alert-success" role="alert"
             th:text="${message}">
            Success message when add product
        </div>
        <form class="form-reg reg-form-text-size" method="post" th:action="@{/userregistrationform}"
              th:object="${clientDto}">
            <label class="reg-label-text-size" for="user" th:text="#{reg.form.username}">User Name:</label>
            <input class="reguser" type="text" id="user"
                   name="userName"
                   placeholder="Enter your username" th:field="*{userName}">
            <span style="color: #f44336" class="form-error" th:if="${#fields.hasErrors('userName')}"
                  th:errors="*{userName}">
            </span>

            <label class="reg-label-text-size" for="first" th:text="#{reg.form.firstName}">First Name:</label>
            <input class="reguser" type="text" id="first"
                   name="firstName"
                   placeholder="Enter your first name" th:field="*{firstName}">
            <span style="color: #f44336" class="form-error" th:if="${#fields.hasErrors('firstName')}"
                  th:errors="*{firstName}">
            </span>

            <label class="reg-label-text-size" for="last" th:text="#{reg.form.lastName}">Last Name:</label>
            <input class="reguser" type="text" id="last"
                   name="lastName"
                   placeholder="Enter your last name" th:field="*{lastName}">
            <span style="color: #f44336" class="form-error" th:if="${#fields.hasErrors('lastName')}"
                  th:errors="*{lastName}"></span>

            <label class="reg-label-text-size" for="middle" th:text="#{acc.form.middleName}">Middle Name:</label>
            <input class="reguser"  type="text" id="middle"
                   name="middleName"
                   placeholder="Enter your middle name" th:field="*{middleName}">

            <label class="reg-label-text-size" for="post" th:text="#{acc.form.postaddress}">Post address:</label>
            <input class="reguser" type="text" id="post"
                   name="postAddress"
                   placeholder="Enter your post address" th:field="*{postAddres}">

            <label class="reg-label-text-size" for="email" th:text="#{reg.form.email}">Email:</label>
            <input class="reguser" type="email" id="email"
                   name="emailAddress"
                   placeholder="Enter your email" th:field="*{emailAddress}">
            <span style="color: #f44336" class="form-error" th:if="${#fields.hasErrors('emailAddress')}"
                  th:errors="*{emailAddress}"></span>
            <div th:if="${duplicateEmailMessage != null}" class="alert alert-danger" role="alert">
                <p th:text="${duplicateEmailMessage}"></p>
            </div>


            <label class="reg-label-text-size" for="password" th:text="#{reg.form.password}">:</label>
            <input class="reguser" type="password" id="password"
                   name="password"
                   placeholder="Enter your password" th:field="*{password}">
            <span style="color: #f44336" class="form-error" th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}"></span>

            <label class="reg-label-text-size" for="repeatpassword" th:text="#{reg.form.repeat.password}"></label>
            <input class="reguser" type="password" id="repeatpassword"
                   name="repeatpassword"
                   placeholder="Reenter your password " th:field="*{repeatPassword}">
            <span style="color: #f44336" class="form-error" th:if="${#fields.hasErrors('global')}"
                  th:errors="global"></span>
            <label class="reg-label-text-size" for="dob" th:text="#{acc.form.dateofbirth}"></label>
            <input class="reguser" type="date"
                   id="dob" name="dob"
                   placeholder="Enter your DOB" th:field="*{dateofbirth}">

            <label class="reg-label-text-size" for="mobile" th:text="#{reg.form.phone}"></label>
            <input class="reguser" type="text" id="mobile"
                   name="mobile"
                   placeholder="Enter your Mobile Number" th:field="*{phoneNumber}"
                   maxlength="15">
            <span style="color: #f44336" class="form-error" th:if="${#fields.hasErrors('phoneNumber')}"
                  th:errors="*{phoneNumber}"></span>

            <label class="reg-label-text-size" for="gender" th:text="#{acc.form.gender}"></label>
            <select  id="gender" name="gender" th:field="*{gender}" required>
                <option value="male" th:text="#{acc.form.gender.male}"></option>
                <option value="female" th:text="#{acc.form.gender.female}"></option>
                <option value="other" th:text="#{acc.form.gender.other}"></option>
            </select>
            <button class=" button-text text-center general-form-button" type="submit" onclick="solve()"
                    th:text="#{reg.form.btn}">
                Submit
            </button>
        </form>
    </div>

</div>
<input type="hidden" id="serverErrorMessage" th:value="${session.errorMessage}"/>
<footer th:replace="~{fragments/layout :: footer}">placeholder</footer>
<script th:replace="~{fragments/layout::language-script}"></script>
</body>
</html>