<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="lt">
<head th:replace="~{fragments/generallayout::headageneral('Brigama')}"></head>

<body>

<div class="body-background">
    <header>
        <nav th:replace="~{fragments/generallayout::navgeneral-bar}">placeholder</nav>
    </header>
    <div class="main-general-container">
        <main class="general-form">
            <div class="main row ">
                <div th:if="${message ne null and message.length() > 0}"
                     class="alert alert-success" role="alert"
                     th:text="${message}">
                    Success message when add product
                </div>
                <button id="toggle-form-btn" class="button-text btn-secondary btn-block mb-6 text-center"
                        type="button"
                        onclick="toggleForm()">Create New account and key
                </button>

                <div id="new-account-form" class=" mb-2 input-gen-text" style="display: none;">
                    <form method="post" th:action="@{/usergeneralform}" th:object="${userDto}">
                        <label for="basic-url">Your Username</label>
                        <div class="input-group mb-3 input-group">
                            <input type="text" class="form-control input-gen-text"
                                   placeholder="Username/email"
                                   aria-label="UserName/Email" aria-describedby="basic-addon2"
                                   th:field="*{userNameEmail}">
                            <div class="input-group-append input-gen-text">
                        <span class="input-gen-text" id="basic-addon2"
                              th:if="${#fields.hasErrors('userNameEmail')}"
                              th:errors="*{userNameEmail}">@example.com</span>
                            </div>
                        </div>
                        <label for="basic-url">Your URL</label>
                        <div class="input-group mb-3 input-gen-text">
                            <input type="text" class="form-control input-gen-text"
                                   placeholder="URL/WEB address"
                                   th:field="*{webaddress}"
                                   id="basic-url" aria-describedby="basic-addon3">
                            <div class="input-group-prepend">
                        <span class="input-gen-text" id="basic-addon3"
                              th:if="${#fields.hasErrors('webaddress')}"
                              th:errors="*{webaddress}">https//example.com</span>
                            </div>
                        </div>

                        <div class="card-body input-gen-text">
                            <div class="custom-control custom-checkbox ">
                                <input class="custom-control-input" type="checkbox" name="generateType" value="LoremIps"
                                       id="LoremIps">
                                <label class="custom-control-label general-lable-text" for="LoremIps">Atsitiktiniai
                                    žodžių deriniai</label>
                            </div>


                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" name="generateType"
                                       value="lettersnumbers"
                                       id="lettersnumbers">
                                <label class="custom-control-label" for="lettersnumbers">Letters and numbers (0-9 +
                                    Aa)</label>
                            </div>


                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" name="generateType"
                                       value="Special_Key"
                                       id="Special_Key">
                                <label class="custom-control-label" for="Special_Key">Special Key (#%*;/)</label>
                            </div>

                        </div>
                        <label for="basic-url">Kokio stiprumo kodo norite?</label>
                        <input type="number" class="form-control input-gen-text"
                               aria-label="Įveskite Ne mažiau nei 8 simbolius"
                               id="number-strength"
                               onchange="checkNumberStrength()" placeholder="Įveskite Ne mažiau nei 8 simbolius">
                        <label for="basic-url">Your Generated Key</label>
                        <div class="input-group mb-2 img-fluid input-gen-text" id="generatedKey-img">
                            <div>
                                <img class="input-group-text img-fluid img-size" src="/images/keyimg.jpg" id="img-sige">
                            </div>
                            <input type="text" class="form-control input-gen-text" aria-label="Generate key"
                                   th:field="*{generatedkey}">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary generate-button-text"
                                        onclick="generateKey()">Generate
                                </button>
                            </div>
                        </div>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-gen-text">Notes</span>
                            </div>
                            <textarea class="form-control note-box-size input-gen-text"
                                      aria-label="Your Notes"
                                      th:field="*{notes}"></textarea>
                        </div>
                        <div class="wrap">
                            <div style="height: 20px;"></div>
                            <button type="submit" onclick="solve()" class="btn-secondary mb-3 button-text">
                                Save data to Date Base
                            </button>
                        </div>
                    </form>
                </div>
                <div class="general-table-container">
                    <table class="table-active general-table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <!--                <th scope="col">Meta</th>-->
                            <th scope="col">UserNname/email</th>
                            <th scope="col">Url/web page</th>
                            <th scope="col">Generated Key</th>
                            <th scope="col">Notes</th>
                            <th scope="col" hidden="hidden">UUID</th>

                        </tr>
                        </thead>

                        <tbody class="general-table">
                        <tr th:each="userDto, stat : ${userDtoList}">
                            <td class="input-gen-text gen-id-size" th:text="${stat.count}"></td>

                            <td class="gentable-width" th:text="${userDto.userNameEmail}"></td>
                            <td class="text-nowrap text-truncate gentable-width">
                                <a class="input-gen-text"
                                   th:href="@{${userDto.webaddress}}"
                                   th:text="${userDto.webaddress}"></a></td>
                            <!--                            <td class=" text-truncate gentable-width"-->
                            <!--                                th:text="${userDto.decryptedKey}"></td>-->
                            <td class="text-truncate gentable-width"
                                th:text="${userDto.decryptedKey}"
                                th:attr="data-uuid=${userDto.uuid}"
                                onclick="getAndCopyDecryptedKey(this.getAttribute('data-uuid'))"
                                style="cursor: pointer;"></td>

                            <td class="input-gen-text gentable-width"
                                th:text="${userDto.notes}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
<input type="hidden" id="serverErrorMessage" th:value="${session.errorMessage}"/>
<footer th:replace="~{fragments/layout :: footer}">placeholder</footer>


</body>

<script>


    function toggleForm() {
        var form = document.getElementById("new-account-form");
        if (form.style.display === "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }

    }

    document.addEventListener('DOMContentLoaded', function () {
        var lang = new URLSearchParams(window.location.search).get('lang'); // Gaunama 'lang' reikšmė iš URL
        if (lang) {
            document.querySelector('.selectpicker').value = lang; // Nustatoma pasirinkimo elemento reikšmė
        }
    });
    document.addEventListener('DOMContentLoaded', function () {
        var errorMessage = document.getElementById('serverErrorMessage').value;
        if (errorMessage) {
            alert(errorMessage);
            // Optionally, send a request to clear the session attribute or handle it server-side
        }
    });

    // ================================================REIKIA PERKELTIS I SERVER DALI=============================
    function generateKey() {
        var checkedBoxes = document.querySelectorAll('input[name="generateType"]:checked');
        if (checkedBoxes.length === 0) {
            alert("Pasirinkite bent vieną generavimo tipą.");
            return;
        }
        var noOfRandomChars = document.getElementById("number-strength").value;
        var xhr = new XMLHttpRequest();
        var url;

        if (document.getElementById('LoremIps').checked) {
            url = '/generate-key-lorem';
        } else if (document.getElementById('lettersnumbers').checked) {
            url = '/generate-key-letters';
        } else if (document.getElementById('Special_Key').checked) {
            url = '/generate-key-special';
        }
        if (document.getElementById('Special_Key').checked && document.getElementById('lettersnumbers').checked) {
            url = '/generate-key-special-letters';
        }
        if (url) {
            xhr.open('GET', url + '?noOfRandomChars=' + noOfRandomChars, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var generatedKey = xhr.responseText;
                    document.getElementById('generatedkey').value = generatedKey;
                }
            };
            xhr.send();
        } else {
            console.log('Nepasirinktas joks variantas!');
        }

    }


    function checkNumberStrength() {
        var numberStrength = document.getElementById("number-strength").value;

        if (numberStrength < 8) {
            alert("Stiprumo kodas turi būti mažiausiai 8 simbolių ilgio!");
            // Galite papildomai išvalyti laukelį arba pakeisti jo spalvą, kad parodytumėte, jog įvestis netinkama
            document.getElementById("number-strength").value = "";
            document.getElementById("number-strength").style.borderColor = "red";
        }
    }

    //======================================Sugeneruoto rakto kopijavimas=======================//


    function copyToClipboard(textToCopy) {
        // Sukurkite laikiną elementą, kuris bus naudojamas tekstui įklijuoti
        const tempElement = document.createElement("textarea");
        tempElement.value = textToCopy;
        document.body.appendChild(tempElement);
        tempElement.select(); // Pažymėkite tekstą laikinajame elemente
        document.execCommand("copy"); // Nukopijuokite tekstą
        document.body.removeChild(tempElement); // Pašalinkite laikinąjį elementą

        // Parodykite pranešimą, kad tekstas nukopijuotas
        alert("Dešifruotas raktas nukopijuotas į iškarpinę.");
    }

    function getAndCopyDecryptedKey(uuid) {
        console.log(`UUID: ${uuid}`);
        const url = `/api/decrypted-key/${uuid}`;
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(decryptedKey => {
                navigator.clipboard.writeText(decryptedKey).then(() => {
                    alert("Raktas nukopijuotas į iškarpinę.");
                });
            })
            .catch(error => alert("Klaida gaunant raktą: " + error));
    }
</script>

</html>