*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --fontcolor-primary: antiquewhite;
    --testcolre-1: none;
    --testcolre-2: none;
    --testcolre-3: none;
    --testcolre-4: none;
    --testcolre-5: none;

    --fsizepx-h1: 100px;
    --fsizepx-h2: 65px;
    --fsizepx-h3: 0px;
    --fsizepx-compname: 25px;
    --fsizepx-hedertext: 40px;
    --fsizepx-ulmenutxt: 55px;
    --fsizepx-maintext: 60px;
    --fsizepx-footertext: 35px;
    --fsizepx-homelink: 35px;
    --fsizepx-lihuver: 55px;

    --fsize1900px-h1: 0px;
    --fsize1900px-h2: 50px;
    --fsize1900px-h3:40px;
    --fsize1900px-compname: 40px;
    --fsize1900px-hedertext: 30px;
    --fsize1900px-ulmenutxt: 40px;
    --fsize1900px-maintext: 45px;
    --fsize1900px-footertext: 30px;
    --fsize1900px-homelink: 35px;
    --fsize1900px-lihuver: 40px;

    --fsize1230px-h1: 80px;
    --fsize1230px-h2: 45px;
    --fsize1230px-h3: 0px;
    --fsize1230px-compname: 35px;
    --fsize1230px-hedertext: 35px;
    --fsize1230px-ulmenutxt: 35px;
    --fsize1230px-maintext: 45px;
    --fsize1230px-footertext: 30px;
    --fsize1230px-homelink: 35px;
    --fsize1230px-lihuver: 35px;

    --fsize768px-h1: 18px;
    --fsize768px-h2: 35px;
    --fsize768px-h3: 0px;
    --fsize768px-compname: 35px;
    --fsize768px-hedertext: 25px;
    --fsize768px-ulmenutxt: 25px;
    --fsize768px-maintext: 25px;
    --fsize768px-footertext: 18px;
    --fsize768px-homelink: 25px;

    --fsize399px-h1: 0px;
    --fsize399px-h2: 20px;
    --fsize399px-h3: 18px;
    --fsize399px-compname: 20px;
    --fsize399px-hedertext: 25px;
    --fsize399px-ulmenutxt: 16px;
    --fsize399px-maintext: 18px;
    --fsize399px-footertext: 16px;
    --fsize399px-homelink: 16px;


}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url("../images/fonas-webpage.jpeg");
}
.body-background {
    /* Centruojame turinį horizontaliai */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centruojame elementus horizontaliai */
}


#body-img-logo {
    display: block;
    margin: 5px;

    width: 100%;
    max-width: 100px;
}

#comany-name {
    font-size: var(--fsizepx-compname);
    color: black;
    margin: 20px;
}
/* Avatar image */


form {
    border: 3px solid #f1f1f1;
    max-width: 500px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);

}

.psw-lable-scndpart{
    text-align: center;
    font-size: 12px;
    align-self: center;
    color: rgb(113, 111, 111);

}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2px 0 12px 0;
}



/* Add padding to containers */
.container {
    padding: 16px;
}
.cancle-container{
    display: flex;
    padding: 16px;
}
.login {
    display: flex;
    justify-content: center;
    margin: 10px auto; /* Centruojame "Login" horizontaliai su 10px atstumu nuo viršaus */
    font-size: 24px;
}
.register-forgot-container{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: auto;
}
.psw-forgot{
    margin-left: auto;
}
.login-announcment{
    display: flex;
    display: block;
    align-items: center;
    text-align: center;
    font-size: 12px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
