
:root {
    --fontcolor-primary: antiquewhite; /* Pagrindinė šrifto spalva, jei norite ją keisti */
    --testcolre-1: none;
    --testcolre-2: none;
    --testcolre-3: none;
    --testcolre-4: none;
    --testcolre-5: none;
    --bs-navbar-bg-color: rgb(59, 59, 84, 0.8); /* Pakeisti nauja norima spalva */
    /*--bs-navbar-color: var(--fontcolor-primary); !* Teksto spalva *!*/
    /*--bs-navbar-hover-color: rgb(121, 102, 178); !* Nuorodos užvedimo spalva *!*/
    --bs-emphasis-color-rgb: 250, 235, 215, 100%;
    /*--bs-nav-link-hover-color: antiquewhite;*/
    /*--bs-nav-link-color: antiquewhite;*/
    --bs-navbar-color: rgb(250,235,215);
}

.navbar:hover {
    background-color: var(--bs-navbar-bg-color);
    transition: background-color 2s ease;
}

.navbar a .nav-item ul{
    color: var(--fontcolor-primary);
}
.nav-link:hover {
    text-decoration: none;
    font-style: italic;
}


.body-background {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* Padaro, kad background uždengtų visą elementą */
    background-position: center;
    /* Centruoja background vaizdą */
    background-attachment: fixed;
    background-image: url("../images/fonas-webpage.jpeg");

}

#comany-name {
    color: var(--fontcolor-primary);
    margin: 20px;
}

/*#ul-id {*/
/*    color: var(--bs-navbar-color);*/
/*    text-decoration: none;*/
/*}*/

#body-img-logo {
    width: 100%;
    max-width: 200px;
}

.nav-item {
    margin: 1px;
    padding: 50px;
    /* padding-left: 70px;
    padding-right: 70px; */
    color: var(--fontcolor-primary);
}

/* ==============================   FORM   ============================================ */

.main {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100vh - 60px);
    background-color: rgba(255, 255, 255, 0.6);
    overflow-y: auto;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    transition: transform 0.2s;
    /*max-width: 1000px;*/
    text-align: center;
}

.card-header {
    font-size: var(--fsize1230px-h2);

}

form {
    border-width: 0 3px 3px 3px;
    border-radius: 0 0 15px 15px;
    padding: 10px 20px;
    transition: transform 0.2s;
    background-color: rgba(250, 246, 246, 0.4);

}
/*=============================Table===============================*/


/*============================Generated key img==================*/
#generatedKey-img {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*width: 100%;*/
}
.input-group-text {
    /*height: 40px;*/
}
.img-fluid {
    max-height: 100%;
}
/*============================Notes==================*/
.form-control, .note-box-size{



}
label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: black;
    font-weight: bold;
}

#pass {
    color: red;
    font-size: 12px;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    /*background-color: #04AA6D;*/
    width: 100%;
    font-size: 16px;
}


.footer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-left: 300px;
    background-color: rgb(59, 59, 84);
    font-size: var(--fsizepx-footertext);
    padding-bottom: 50px;
}

.kontaktai {
    font-size: var(--fsizepx-footertext);
    color: var(--fontcolor-primary);

}

.wrap-kontakt-ul {
    list-style: none;
    color: var(--fontcolor-primary);
}

div .go-home-link a {
    padding-left: 40px;
    padding-bottom: 40px;
    text-decoration: none;
    color: var(--fontcolor-primary);
    font-size: var(--fsizepx-homelink);
}