<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Details</title>
</head>
<body>
<form method="post" th:if="${findClient}" :action="@{/client/findClient}" th:object="${findClient}">
<!--    //patikrinti jei nera uuid tai mestu Error-->
    <label>Client ID:</label>
    <label>
        <input type="text" th:field="*{uuid}" placeholder="Enter Client ID"/>
    </label>
    <button type="submit">Find Client</button>
</form>

<h3>Client Details:</h3>
<div th:if="${findClient}">
<!--    <p th:text="'Client ID: ' + ${findClient.uuid}"></p>-->
    <p th:text="'First Name: ' + ${findClient.firstName}"></p>
    <p th:text="'Last Name: ' + ${findClient.lastName}"></p>
    <p th:text="'Phone Number: ' + ${findClient.phoneNumber}"></p>
    <p th:text="'Email: ' + ${findClient.emailAddress}"></p>
    <p th:text="'UUID: ' + ${findClient.uuid}"></p>
</div>
<div th:if="${error}">
    <p th:text="${error}"></p>
</div>

<table>
    <thead>
    <tr>
        <th>First name</th>
        <th>Surname</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>UUID</th>
        <th></th> <!-- empty row for buttons (edit, delete, etc.) -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="client: ${clientList}">
        <td th:text="${client.firstName}"></td>
        <td th:text="${client.lastName}"></td>
        <td th:text="${client.phoneNumber}"></td>
        <td th:text="${client.emailAddress}"></td>
        <td th:text="${client.uuid}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
